{% extends 'base.html' %}
{% block content %}
<div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Nuevo Comentario</h3>
        <form  method="post">
          {% csrf_token %}
           <div class="control-group form-group">
            <div class="controls">
              {{form.comentario}}
            </div>
          </div>
          <button type="submit" class="btn btn-success" >Guardar</button>
        </form>
      </div>

    </div>
{% endblock %}