{% extends 'base.html' %}
{% block content %}
    <div>
        <a class="btn btn-primary" href="{% url 'administrador:crear_administrador'%}">Registrar Administrador</a>
        <a class="btn btn-warning" href="{% url 'administrador:crear_asunto'%}">Crear Asunto</a>
        <a class="btn btn-danger" href="{% url 'base:logout' %}">Cerrar Sesión</a>


    </div>
    <div class="row">
      <div class="col-md-5">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Fecha de Nacimiento</th>
        <th scope="col">Genero</th>
        <th scope="col">Tipo de Documento</th>
        <th scope="col">Numero de Documento</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono de Contacto</th>
        <th scope="col">Asunto</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
        <th scope="col">Comentario</th>
    </tr>
  </thead>
  <tbody>
  {% for peticion in peticiones %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{peticion.nombre}}</td>
      <td>{{peticion.apellido}}</td>
      <td>{{peticion.fecha_nacimiento}}</td>
        <td>{{peticion.genero}}</td>
      <td>{{peticion.tipo_documento}}</td>
      <td>{{peticion.numero_documento}}</td>
        <td>{{peticion.email}}</td>
      <td>{{peticion.telefono_contacto}}</td>
      <td>{{peticion.asunto}}</td>
        <td>
            <a class="btn btn-primary btn-sm" href="{% url 'contacto:editar_peticion' peticion.id  %}">
                Editar
            </a>

        </td>
        <td>
           <a class="btn btn-info btn-sm" href="{% url 'contacto:eliminar_peticion' peticion.id  %}">
                Eliminar
            </a>
        </td>
        <td>

            <a class="btn btn-info btn-sm" href="{% url 'administrador:crear_comentario' peticion.id  %}">
                Agregar
            </a>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
      </div>
    </div>
{% endblock %}