{% extends 'base.html' %}
{% block content %}
<div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Contacto</h3>
        <form name="sentMessage" id="contactForm" method="post">
          {% csrf_token %}
          <div class="control-group form-group">
            <div class="controls">
              <label>Nombres:</label>
              {{form.nombre}}
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Apellidos:</label>
              {{form.apellido}}
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Fecha Nacimiento:</label>
              {{form.fecha_nacimiento}}
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Genero:</label>
              {{form.genero}}
            </div>
          </div>
           <div class="control-group form-group">
            <div class="controls">
              <label>Tipo de Documento:</label>
              {{form.tipo_documento}}
            </div>
          </div>
            <div class="control-group form-group">
            <div class="controls">
              <label>Número de Documento:</label>
              {{form.numero_documento}}
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Email:</label>
              {{form.email}}
            </div>
          </div>
           <div class="control-group form-group">
            <div class="controls">
              <label>Telefono de Contacto:</label>
              {{form.telefono_contacto}}
            </div>
          </div>
            <div class="control-group form-group">
            <div class="controls">
              <label>Asunto:</label>
              {{form.asunto}}
            </div>
          </div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Enviar</button>
        </form>
      </div>

    </div>
{% endblock %}